<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
	<property resource="properties/logback.properties" />
	<jmxConfigurator />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{30} %M %L - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="sqlFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${sql.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${sql.log.file.name}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="smsfail"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${smsfail.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${smsfail.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="allFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${all.log.file.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${all.log.file.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>200mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
	
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="asyncAll" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>10240</queueSize>
		<appender-ref ref="allFile" />
	</appender>

	<appender name="catAppender" class="com.adt.framework.monitor.cat.logback.CatAppender">

	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="catAppender" />
	</root>

	<logger name="com.adt">
		<level value="DEBUG" />
		<appender-ref ref="asyncAll" />
	</logger>
	
	<!-- 需要记录日志的包 -->
	<logger name="org.springframework">
		<level value="INFO"/>
		<appender-ref ref="asyncAll" />
	</logger>

	<logger name="org.mybatis">
		<level value="${log.sql.parameter.trace}" />
		<appender-ref ref="sqlFile" />
		<appender-ref ref="stdout" />
	</logger>

	<logger name="com.adt.front.user.security.dao">
		<level value="DEBUG" />
		<appender-ref ref="sqlFile" />
		<appender-ref ref="stdout" />
	</logger>

	<!-- 短信发送失败专用日志 -->
	<logger name="asyncSmsfailLOGGER">
		<level value="INFO" />
		<appender-ref ref="smsfail" />
	</logger>

</configuration>